
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper{
    overflow-x:hidden ;
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;

    
    
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

}


 .btn-pink1{
    
    
   
   

    background-color: red;
    color: white;
    box-shadow: 5px 5px 7px 0px  #0000003f;
    cursor: pointer;
    position: relative;
   
    padding: 0.8rem 2.3rem;
   
    font-size: 24px;
    z-index: 0;

    
    
} 



        
 
.btn-pink1::before{

    content: "";
    position: absolute;
    background-color: black;
    left:0px;
    right:0px;
    bottom: 0px;
    top:0px;
    transform: scaleX(0);
    transform-origin: left ;
    transition: all 0.8s;
    z-index: -1;
    
   
    
}

.btn-pink1:hover::before{
    
    transform: scaleX(1);
    


} 



.btn-pink2{
    
   
   
    
    background-color: red;
    color: white;
    box-shadow: 5px 5px 7px 0px  #0000003f;
    cursor: pointer;
    position: relative;
   
    padding: 0.8rem 2.3rem;
   
    font-size: 24px;
    z-index: 0;
    
    
} 
   
        
 
.btn-pink2::before{
    content: "";
    position: absolute;
    background-color: black;
    left:0px;
    right:0px;
    bottom: 0px;
    top:0px;
    transform: scaleX(0);
    transform-origin: center ;
    transition: all 0.8s;
    z-index: -1;
    
   
    
}

.btn-pink2:hover::before{
    
    transform: scaleX(1);
    


}   
     

.btn-pink3{
   
    
    background-color: red;
    color: white;
    box-shadow: 5px 5px 7px 0px  #0000003f;
    cursor: pointer;
    position: relative;
   
    padding: 0.8rem 2.3rem;
   
    font-size: 24px;
    z-index: 0;
    
    
} 
   
        
 
.btn-pink3::before{
    content: "";
    position: absolute;
    background-color: black;
    left:0px;
    right:0px;
    bottom: 0px;
    top:0px;
    transform: scaleX(0);
    transform-origin: right ;
    transition: all 0.8s;
    z-index: -1;
    
   
    
}

.btn-pink3:hover::before{
    
    transform: scaleX(1);
    


}   
     
    
        
    






